* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* navbar start */
nav {
    background: #f7fbfa;
    height: 80px;
    width: 100%;
}

label.logo {
    color: #999;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

label.logo span{
    color: #fa5558;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #999;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #fa5558;
    transition: .5s;
    color: white;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
/* End navbar */
/*
section {
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}*/
.store-front .container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.store-front .container >div{
    position: relative;
    margin: 50px;
}

.store-front .container >div p{
    color: #8c96a4;
}
.store-front .container >div h3{
    font-size: 1.5rem;
}
.store-front .container >div >button{
    position: absolute;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
}

.store-banner{
    background-image: url("Images/storeBanner.jpg");
}

.store-banner .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 96px 15px 96px 15px;
}

.store-banner .container >div{
    color: white;
}
.store-banner .container > div >button{
    margin-top: 30px;
}






/* footer */
.footer-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background: #ede7f6;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #f7fbfa;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .section {
    margin-right: 30px;
}

footer .container .section.about {
    width: 40%;
}

footer .container h2 {
    position: relative;
    color: #999;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p {
    color: #999;
}

.social-media {
    margin-top: 20px;
    display: flex;
}

.social-media li {
    list-style: none;
}

.social-media li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.social-media li a:hover {
    background: #f000;
}

.social-media li a .fa {
    color: red;
    font-size: 25px;
}

.quick-links {
    position: relative;
    width: 25%;
}

.quick-links ul li {
    list-style: none;
}

.quick-links ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quick-links ul li a:hover {
    color: #999;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
    color: #999;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span {
    color: #999;
}

.contact .info li a {
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover {
    color: #fff;
}

.copygright-text {
    width: 100%;
    background: #dcdedd;
    padding: 8px 100px;
    text-align: center;
    color: black;
    
}
/* footer end */

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
    footer {
        padding: 40px;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container .section {
        margin-right: 0;
        margin-bottom: 40px;

    }

    footer .container.section.about,
    .quick-links,
    .contact {
        width: 100%;
    }

    .copygright-text {
        padding: 8px 40px;
    }

    .store-front .container {
        display: block;
    }
    .store-front .container >div >img{
        width: 100%;
        height: 100%;
    }
    .store-front .container >div >button{
        margin-top: 20px;
        width: 100%;
    }

}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        color: red;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}
